
.DS_Store
aim325_reinvent_reduce_hallucinations_lab/py.typed
reduce_llm_hallucinations_labs/lab2/agent_utilities/__pycache__/agents_utils.cpython-311.pyc
reduce_llm_hallucinations_labs/lab2/agent_utilities/__pycache__/agents_infra_utils_one_kb_setup.cpython-311.pyc
reduce_llm_hallucinations_labs/lab2/agent_utilities/.ipynb_checkpoints/agents_utils-checkpoint.py
reduce_llm_hallucinations_labs/lab2/agent_utilities/.ipynb_checkpoints/agents_infra_utils_one_kb_setup-checkpoint.py
reduce_llm_hallucinations_labs/lab2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
reduce_llm_hallucinations_labs/lab2/.ipynb_checkpoints/requirements-checkpoint.txt
reduce_llm_hallucinations_labs/lab2/.ipynb_checkpoints/lambda_hallucination_detection-checkpoint.py
reduce_llm_hallucinations_labs/lab2/.ipynb_checkpoints/reinvent2024-hallucinations-questions-checkpoint.csv
reduce_llm_hallucinations_labs/lab2/.ipynb_checkpoints/lab2-checkpoint.ipynb
reduce_llm_hallucinations_labs_od.zip
responsible_ai_reduce_hallucinations_for_genai_apps.tar
responsible_ai_reduce_hallucinations_for_genai_apps/
reduce_llm_hallucinations_labs/lab2/trace_files/trace_test.txt
reduce_llm_hallucinations_labs/lab2/trace_files/trace_test.txt
reduce_llm_hallucinations_labs/lab1/.ipynb_checkpoints/lab1-checkpoint.ipynb
reduce_llm_hallucinations_labs/lab1/data/bedrock-ug.pdf
reduce_llm_hallucinations_labs.tar
reduce_llm_hallucinations_labs 3.zip
reduce_llm_hallucinations_labs 2.zip
reduce_llm_hallucinations_labs.zip
reduce_llm_hallucinations_labs/lab1/rag_setup/__pycache__/create_kb_utils.cpython-311.pyc
